









<div class="container">
    <p>Login</p>
    <div class="input-container">
        <input type="email" placeholder="Please enter your email" [(ngModel)]="authModel.email" /> <br>
    </div>
    <div class="input-container">
        <input type="password" placeholder="Please enter your password" [(ngModel)]="authModel.password" /> <br>
    </div>
    <div class="role-container">
        <h4>Login As</h4>       
        <div *ngFor="let data of roles" >  
                <label>{{data.role}}</label>
                <input type="radio" name="role" value="{{data.roleId}}" [(ngModel)]="authModel.roleId"/>
        </div> <br>
        
    </div>
    <button class="login-button" (click)="login()">Login</button> <br>
    <a routerLink="/register">Don't have an account?</a>
</div>