
<div class="container width-small">
<form #loginForm="ngForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" required #emailField="ngModel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [ngModelOptions]="{standalone: true}" [(ngModel)]="authModel.email">
      <div *ngIf="emailField.touched && emailField.invalid" class="alert">
        Email is required*
    </div>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input required #keyField="ngModel" type="password" class="form-control" id="exampleInputPassword1" [ngModelOptions]="{standalone: true}" [(ngModel)]="authModel.password">
    </div>
    <div *ngIf="keyField.touched && keyField.invalid" class="alert">
        <p>key is required*</p>
    </div>
    <div class="role-container">
        <h4>Login As</h4>       
        <div class="form-check" *ngFor="let data of roles">
            <input required #radioBox="ngModel" class="form-check-input" type="radio" name="role" value="{{data.roleId}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="authModel.roleId">
            <label class="form-check-label" for="flexRadioDefault1">
              {{ data.role }}
            </label> 
          </div>
    </div>
    <div class="center-new">
    <button type="submit" (click)="login()" class="btn btn-primary">Submit</button> <br>
    <a routerLink="/register">Don't have an account? Sign up now</a> 
    </div>
</form>
</div>