.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.alert {
  color: red;
}

.width-small{
  width: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
}
