<!-- ngNativeValidate -->
<div class="grid-container container width-small">
    <form #registerForm="ngForm">
    <div class="grid-item">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email"  name="email" required maxlength="30" minlength="4" #email="ngModel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [ngModelOptions]="{standalone: false}" [(ngModel)]="userModel.email" ngModel>
         



           <div *ngIf="email.invalid && (email.dirty || email.touched || registerForm.submitted )" class="alert">
            <div *ngIf="email.errors?.['required']">
                <div class="err-style">Name is required. </div> 
            </div> 
            <div *ngIf="email.errors?.['minlength']">
                <div class="err-style">Please enter a valid email address </div> 
            </div>
        </div>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div> 





        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input required name="password" #keyField="ngModel" type="password" class="form-control" id="exampleInputPassword1"  [ngModelOptions]="{standalone: false}" [(ngModel)]="userModel.password" ngModel>
        </div>
        <div *ngIf="keyField.invalid && (keyField.dirty || keyField.touched || registerForm.submitted )" class="alert">
           
            <div *ngIf="keyField.errors?.['required']">
                <div>Key is required</div> 
            </div> 
        </div>
        <label for="exampleInputContact1" class="form-label">Contact Number: </label>
        <input type="text" required #numField="ngModel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [ngModelOptions]="{standalone: true}" [(ngModel)]="userModel.contactno">
        <br>
        <div class="role-container">
            <label for="exampleInputRole1" class="form-label">Please select if you are a student or a staff</label>
            <select name="roles" id="roles" [(ngModel)]="userModel.roleId" class="form-select" aria-label="Default select example">
                <option value="1">{{ roles[0].role }}</option>
                <option value="2">{{ roles[1].role }}</option>
            </select>
        </div> <br>
        <div class="center-new">
        <button type="submit" class="btn btn-primary" (click)="register()" [disabled]="!registerForm.valid">Sign Up</button> <br>
        <a routerLink="/login">Have an account? Login</a> 
        </div>
    </div>
</form>
    <div class="grid-item"><img [src]="userModel.image?userModel.image: image"  alt="photo" style="width: 200px" > <br>
        <input class="file-upload" type="file" (change)="change($event)" >
        <div *ngIf="isExtensionError" class="text-danger">
            Please use jpg or png
        </div> 
        <div class="text-danger" *ngIf="isSizeError">
            please compress the img. image size should be less than 1mb
        </div> 
    </div>
    
    
</div>
  



