<div class="container">
    <img [src]="userModel.image?userModel.image: image"  alt="photo" style="width: 80px" > <br>
    <input type="file" (change)="change($event)" /> <br> <br>
    
    <label>Email: </label> <input type="email" placeholder="enter your email" [(ngModel)]="userModel.email" /> <br> <br>
    <label>Role: </label> 
    <select name="roles" id="roles" [(ngModel)]="userModel.roleId" >
        <option value="1">{{ roles[0].role }}</option>
        <option value="2">{{ roles[1].role }}</option>
    </select> <br>

    <label>Contact Number: </label> <input type="text" placeholder="Please enter your contach number" [(ngModel)]="userModel.contactno" /> <br>
    <label>Password: </label> <input type="password" placeholder="Please enter your password" [(ngModel)]="userModel.password"> <br>
    <label>Confirm Password: </label> <input type="password" placeholder="Please enter your password again"> <br>
    <button (click)="register()">Register</button> <br> <br>
    <a routerLink="/login">Already have an account</a>
</div>



