h2 {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.center-btn {
    padding-left: 30%;
}

.black-back {
    font-size: large;
    color: black;
}

.outline {
    border: 10px solid black;
}