


<!-- 
  <header>
    <h2 class="logo"> Virtual Classroom Management System</h2>
    
    <nav>
      <ul class="nav_links">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/student">Student</a></li>
        <li><a routerLink="/courses">Courses</a></li>
      </ul>
      
    </nav>
    <a class="cta" href="#"><button>Contact</button></a>
  </header> -->

  

  <div class="navbar"> 
    <div class="container flex">
      <h1 class="logo">Virtual Classroom</h1>
      <nav>
        <ul>
          <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
        <li><a routerLink="/student">Student</a></li>
        <li><a routerLink="/courses">Staff</a></li>
        </ul>
      </nav>
    </div>
  </div>