<h1 style="text-align: center;">Virtual Classroom</h1>
<ul class="nav justify-content-center new-nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/login" >Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="/register">Registration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/courses">Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Log Out</a>
    </li>
    
  </ul>