<div class="container">
    <p class="main-heading"> Submit Your Details Before Enrollment</p>
    <mat-tab-group mat-align-tabs="center">
         
        <mat-tab label="Personal Details">
            <div fxLayoutAlign="center center" >
            <mat-card fxFlex="50">
            <div>

                
                <form fxLayoutAlign="stretch" fxLayout="column">
                    <mat-form-field>
                    <mat-label>Name</mat-label> <input matInput [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="personalData.name" placeholder="Enter your name"> 
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                    <mat-label>Gender</mat-label> <input matInput [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="personalData.gender" placeholder="Enter your gender"> 
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                    <mat-label>Blood Type</mat-label> <input matInput [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="personalData.bloodType" placeholder="Enter your blood type"> 
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                    <mat-label>Contact Number</mat-label> <input matInput [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="personalData.contactNumber" placeholder="Enter your contact no.">
                    </mat-form-field> <br>
                    <button mat-raised-button>Next</button>
                </form>
            </div>
        </mat-card>
    </div>
        </mat-tab>






        <mat-tab disabled label="Address">
            <div >
                <p>Curent Address</p>
                <form>

                    <label>Street name:</label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="addressData.street" placeholder="Enter your Street name"> <br>
                    <label>Locality:</label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="addressData.locality" placeholder="Enter your locality"> <br>
                    <label>City: </label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="addressData.city" placeholder="Enter your city"> <br>
                    <label> State or Union Territory: </label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="addressData.state" placeholder="Enter your state"> <br>
                    <label> Pincode: </label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="addressData.pincode" placeholder="Enter your Pin Code"> <br>
                    <label>Country: </label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="addressData.country" placeholder="Enter your Country">

                </form>

                <br>
                <p>Original Address</p>
                <p>Is your original address same as your current address? under construction</p>


                <form>

                </form>
                <button>Next</button>
            </div>
        </mat-tab>





        <mat-tab disabled label="10th and 12th Score Details">
            <div class="tab-one container">
                <label>10th Marks:</label> <input [ngModelOptions]="{standalone: true}" type="text"
                    [(ngModel)]="marksData.tenthMarks" placeholder="Enter your 10th Marks"> <br>
                <label>12th Marks:</label> <input [ngModelOptions]="{standalone: true}" type="text"
                    [(ngModel)]="marksData.twelfthMarks" placeholder="Enter your 12th Marks"> <br>
                <button>Next</button>

            </div>


        </mat-tab>






        <mat-tab disabled label="Upload Picture ">
            <div class="tab-one container">
                <p>Upload Passport size picture</p>
                <div>
                    <img *ngIf="pictureData.image" [src]="pictureData.image?pictureData.image: image" alt="photo"
                        style="width: 200px"> <br>
                    <input class="file-upload" type="file" (change)="facePhoto($event)">
                    <div *ngIf="isExtensionError" class="text-danger">
                        Please use jpg or png
                    </div>
                    <div class="text-danger" *ngIf="isSizeError">
                        please compress the img. image size should be less than 1mb
                    </div>
                </div>
                <p>Upload signature
                <p>
                <div>
                    <img *ngIf="pictureData.imageTwo" [src]="pictureData.imageTwo?pictureData.imageTwo: imageTwo"
                        alt="photo" style="width: 200px"> <br>
                    <input class="file-upload" type="file" (change)="signaturePhoto($event)">
                    <div *ngIf="isExtensionError" class="text-danger">
                        Please use jpg or png
                    </div>
                    <div class="text-danger" *ngIf="isSizeError">
                        please compress the img. image size should be less than 1mb
                    </div>
                </div>
                <button>Review</button>
            </div>
        </mat-tab>

        <mat-tab disabled label="Review">
            <div class="container">
            <h2>Personal Details - </h2>
            <label>Name: </label> {{ personalData.name }} <br>
            <label>Gender: </label> {{ personalData.gender }} <br>
            <label>Blood Type: </label> {{ personalData.bloodType }} <br>
            <label>Contact Number: </label> {{ personalData.contactNumber }} <br>

            <h2>Current Address -</h2>
            <label>Street: </label> {{ addressData.street }} <br>
            <label>Locality: </label> {{ addressData.locality }} <br>
            <label>City: </label> {{ addressData.city }} <br>
            <label>State: </label> {{ addressData.state }} <br>
            <label>Pincode: </label> {{ addressData.pincode }} <br>
            <label>Country: </label> {{ addressData.country }} <br>

            <h2>10th and 12th Marks</h2>
            <label>10th Marks: </label> {{ marksData.tenthMarks }} <br>
            <label>12th Marks: </label> {{ marksData.twelfthMarks }} <br>

            <h2>Passport size picture and signature - </h2>
            <label>Passport size photo</label> <br> <img [src]="pictureData.image" alt="passport size photo"
                style="width: 200px"> <br>
            <label>Signature</label> <br> <img [src]="pictureData.imageTwo" alt="signature" style="width: 200px"> <br>

            <button (click)="finalSubmit()" >Submit</button>
        </div>
        </mat-tab>
    </mat-tab-group>
</div>