<div class="container">
    <p class="main-heading"> Submit Your Details Before Enrollment</p>
    <mat-tab-group  mat-align-tabs="center">
         
        <mat-tab label="Personal Details">
            <div class="main-content" >
            <mat-card>
            <div>

                
                <form class="" #personalDetailsForm="ngForm" fxLayoutAlign="stretch" fxLayout="column">


                    <div class="">
                        <div class="row">
                    <div class="col-4">
                    <mat-form-field class="example-full-width width-new" >
                        <input matInput required [ngModelOptions]="{standalone: true}" type="text" name="personalName" #name="ngModel" 
                           [(ngModel)]="personalData.name"  [ngModelOptions]="{standalone: false}" placeholder="Enter your name" ngModel> 
                       
                       
                       
                       <div *ngIf="name.invalid && (name.dirty || name.touched || personalDetailsForm.submitted )" class="text-danger">
                           <div *ngIf="name.errors?.['required']">
                               <div class="err-style">Name is required. </div> 
                           </div> 
                       </div>

                       </mat-form-field>
                    </div>
                    <div class="col-2">
                       <mat-form-field class="example-full-width width-new">
                       <input matInput required [ngModelOptions]="{standalone: true}" type="text"
                           [(ngModel)]="personalData.gender" placeholder="Enter your gender"> 
                       </mat-form-field>
                       
                      
                          
                      </div>    
                        </div>
                      </div>
                      <div class="col-8">
                      <mat-form-field class="example-full-width width-new">
                        <input matInput [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="personalData.bloodType" placeholder="Enter your blood type"> 
                        </mat-form-field>
                    </div>
                       
                    
                   
                    <mat-form-field class="example-full-width width-new">
                  
                    <input matInput [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="personalData.contactNumber" placeholder="Enter your contact no.">
                    </mat-form-field>
                    
                </form>
                <button class="btn1" (click)="personalDetailsNext(1)">Next</button>
            </div>
        </mat-card>
    </div>
        </mat-tab>






        <mat-tab [disabled]="personalDetailsForm.invalid" label="Address">
            <div >
                <p>Curent Address</p>
                <form fxLayoutAlign="stretch" fxLayout="column">

                    <label>Street name:</label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="addressData.street" placeholder="Enter your Street name"> <br>
                    <label>Locality:</label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="addressData.locality" placeholder="Enter your locality"> <br>
                    <label>City: </label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="addressData.city" placeholder="Enter your city"> <br>
                    <label> State or Union Territory: </label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="addressData.state" placeholder="Enter your state"> <br>
                    <label> Pincode: </label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="addressData.pincode" placeholder="Enter your Pin Code"> <br>
                    <label>Country: </label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="addressData.country" placeholder="Enter your Country">

                </form>
                <br>

                <button *ngIf="notSame" class="btn1 color-btn" (click)="same()">Click if permanent address is same as current address!</button>
                <form *ngIf="notSame"fxLayoutAlign="stretch" fxLayout="column">
                    
                    
                    
                    <label>Street name:</label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="permanentAddressData.street" placeholder="Enter your Street name"> <br>
                    <label>Locality:</label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="permanentAddressData.locality" placeholder="Enter your locality"> <br>
                    <label>City: </label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="permanentAddressData.city" placeholder="Enter your city"> <br>
                    <label> State or Union Territory: </label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="permanentAddressData.state" placeholder="Enter your state"> <br>
                    <label> Pincode: </label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="permanentAddressData.pincode" placeholder="Enter your Pin Code"> <br>
                    <label>Country: </label> <input [ngModelOptions]="{standalone: true}" type="text"
                        [(ngModel)]="permanentAddressData.country" placeholder="Enter your Country">
                </form>
                
                <button class="btn1" (click)="addressNext(0)">Previous</button>
                <button class="btn1" (click)="addressNext(2)">Next</button>
            </div>
        </mat-tab>





        <mat-tab label="10th and 12th Score Details">
            <form fxLayoutAlign="stretch" fxLayout="column">
            
                <label>10th Marks:</label> <input [ngModelOptions]="{standalone: true}" type="text"
                    [(ngModel)]="marksData.tenthMarks" placeholder="Enter your 10th Marks"> <br>
                <label>12th Marks:</label> <input [ngModelOptions]="{standalone: true}" type="text"
                    [(ngModel)]="marksData.twelfthMarks" placeholder="Enter your 12th Marks"> <br>
                    


        </form>
        <button class="btn1" (click)="scorePrev(1)">Previous</button>
                    <button class="btn1" (click)="scoreNext(3)">Next</button>
        </mat-tab>
    






        <mat-tab label="Upload Picture ">
            <div class="tab-one container">
                <p>Upload Passport size picture</p>
                <div>
                    <img *ngIf="pictureData.image" [src]="pictureData.image?pictureData.image: image" alt="photo"
                        style="width: 200px"> <br>
                    <input class="file-upload" type="file" (change)="facePhoto($event)">
                    <div *ngIf="isExtensionError" class="text-danger">
                        Please use jpg or png
                    </div>
                    <div class="text-danger" *ngIf="isSizeError">
                        please compress the img. image size should be less than 1mb
                    </div>
                </div>
                <p>Upload signature
                <p>
                <div>
                    <img *ngIf="pictureData.imageTwo" [src]="pictureData.imageTwo?pictureData.imageTwo: imageTwo"
                        alt="photo" style="width: 200px"> <br>
                    <input class="file-upload" type="file" (change)="signaturePhoto($event)">
                    <div *ngIf="isExtensionError" class="text-danger">
                        Please use jpg or png
                    </div>
                    <div class="text-danger" *ngIf="isSizeError">
                        please compress the img. image size should be less than 1mb
                    </div>
                </div>
                <button class="btn1" (click)="reviewPrev(2)">Previous</button>
                <button class="btn1" (click)="reviewFinal(4)">Review</button>
            </div>
        </mat-tab>

        <mat-tab label="Review">
            <div class="container1">
            
            <div class="personal">
            <p class="heading-style">Personal Details</p>
            <label>Name: </label> {{ personalData.name }} <br>
            <label>Gender: </label> {{ personalData.gender }} <br>
            <label>Blood Type: </label> {{ personalData.bloodType }} <br>
            <label>Contact Number: </label> {{ personalData.contactNumber }} <br>
            </div>

            <div class="border-left-style color-box">
            <p class="heading-style">Current Address</p>
            <label>Street: </label> {{ addressData.street }} <br>
            <label>Locality: </label> {{ addressData.locality }} <br>
            <label>City: </label> {{ addressData.city }} <br>
            <label>State: </label> {{ addressData.state }} <br>
            <label>Pincode: </label> {{ addressData.pincode }} <br>
            <label>Country: </label> {{ addressData.country }} <br> <br>
            
            </div>

            <div class="color-box">
            <p class="heading-style">Permanent Address</p>
            <label>Street: </label> {{ permanentAddressData.street }} <br>
            <label>Locality: </label> {{ permanentAddressData.locality }} <br>
            <label>City: </label> {{ permanentAddressData.city }} <br>
            <label>State: </label> {{ permanentAddressData.state }} <br>
            <label>Pincode: </label> {{ permanentAddressData.pincode }} <br>
            <label>Country: </label> {{ permanentAddressData.country }} <br>
            </div>

            <div class="border-left-style-2">
            <p class="heading-style ">10th and 12th Marks</p>
            <label>10th Marks: </label> {{ marksData.tenthMarks }} <br>
            <label>12th Marks: </label> {{ marksData.twelfthMarks }} <br>
            </div>

            
            
        </div>
        
        <button class="btn2" (click)="finalSubmit()" >Submit</button>
        </mat-tab>
    </mat-tab-group>
</div>