<div class="container">
    <p>Tab 1 - Personal Details</p>
    <form>  
        <label>Name:</label> <input  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="dummyDataTobeSentToTheBackend.name" placeholder="Enter your name"> <br>
        <label>Gender:</label> <input  [ngModelOptions]="{standalone: true}" type="text"  [(ngModel)]="dummyDataTobeSentToTheBackend.gender" placeholder="Enter your gender"> <br>
        <label>Blood Type:</label> <input  [ngModelOptions]="{standalone: true}" type="text"  [(ngModel)]="dummyDataTobeSentToTheBackend.bloodType" placeholder="Enter your blood type"> <br>
        <label>Contact Number:</label> <input [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="dummyDataTobeSentToTheBackend.contactNumber" placeholder="Enter your contact no."> <br>
        <label></label>
        <button (click)="tabOne()">Submit And Next</button>
    </form>
    <br>
    <br>
    <p>Tab 2 - Address Details + correspondinf address</p>
    <p>Curent Address</p>
    <form>

        <label>Street name:</label> <input  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="dummyDataTobeSentToTheBackend.street" placeholder="Enter your Street name"> <br>
        <label>Locality:</label> <input  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="dummyDataTobeSentToTheBackend.locality" placeholder="Enter your locality"> <br>
        <label>City: </label> <input  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="dummyDataTobeSentToTheBackend.city" placeholder="Enter your city"> <br>
        <label> State or Union Territory: </label> <input  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="dummyDataTobeSentToTheBackend.state" placeholder="Enter your state"> <br>
        <label> Pincode: </label> <input  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="dummyDataTobeSentToTheBackend.pincode" placeholder="Enter your Pin Code"> <br>
        <label>Country: </label> <input  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="dummyDataTobeSentToTheBackend.country" placeholder="Enter your Country">
       
    </form>

    <br>
    <p>Original Address</p>
    <p>Is your original address same as your current address? under construction</p>
    <!-- create a checkbox -->

    <form>

    </form>
    <button (click)="tabTwo()">Submit And Next</button>
    <br>
    <br>
    <p>Tab 3 - School Education 10th Marks and 12th Marks; Current Education Status</p>
    <label>10th Marks:</label> <input  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="dummyDataTobeSentToTheBackend.tenthMarks" placeholder="Enter your 10th Marks"> <br>
    <label>12th Marks:</label> <input  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="dummyDataTobeSentToTheBackend.twelfthMarks" placeholder="Enter your 12th Marks"> <br>
    <button (click)="tabThree()">Submit And Next</button>
    <br>
    <br>
    <p>Tab 4 - upload profile picture and signature</p>
    <p>Upload Passport size picture</p>
    <div>
        <img *ngIf="dummyDataTobeSentToTheBackend.image" [src]="dummyDataTobeSentToTheBackend.image?dummyDataTobeSentToTheBackend.image: image"  alt="photo" style="width: 200px" > <br>
        <input class="file-upload" type="file" (change)="facePhoto($event)" >
        <div *ngIf="isExtensionError" class="text-danger">
            Please use jpg or png
        </div> 
        <div class="text-danger" *ngIf="isSizeError">
            please compress the img. image size should be less than 1mb
        </div> 
    </div>
    <p>Upload signature<p>
    <div>
        <img *ngIf="dummyDataTobeSentToTheBackend.imageTwo" [src]="dummyDataTobeSentToTheBackend.imageTwo?dummyDataTobeSentToTheBackend.imageTwo: imageTwo"  alt="photo" style="width: 200px" > <br>
        <input class="file-upload" type="file" (change)="signaturePhoto($event)" >
        <div *ngIf="isExtensionError" class="text-danger">
            Please use jpg or png
        </div> 
        <div class="text-danger" *ngIf="isSizeError">
            please compress the img. image size should be less than 1mb
        </div> 
    </div>
    <button (click)="tabFour()">Submit And Next</button>
</div>