<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Course Id</th>
            <th scope="col">Lecture</th>
            <th scope="col">Description</th>
            <th scope="col">Course Code</th>
            <th scope="col">Material</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let content of courseDetail">
            <td>{{ content.courseId }}</td>
            <td>{{ content.lecture }}</td>
            <td>{{ content.description }}</td>
            <td>{{ content.courseCode }}</td>
            <td><i class="fa fa-plus-square-o" (click)="materialDialog(content)" style="font-size:24px"></i></td>
            <!-- <td><button (click)="materialDialog(content)">Upload</button></td> -->
          </tr>
        </tbody>
      </table>
      
      <a routerLink="/courses">Browse courses</a>
    </div>