<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Course Id</th>
            <th scope="col">Lecture</th>
            <th scope="col">Description</th>
            <th scope="col">Course Code</th>  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let content of courseDetail">
            <td>{{ content.courseId }}</td>
            <td>{{ content.lecture }}</td>
            <td>{{ content.description }}</td>
            <td>{{ content.courseCode }}</td>
          </tr>
        </tbody>
      </table>
    </div>