.center-custom {
    padding-top: 3%;
    padding-left: 3%;
}

.width-height-custom {
    width: 500px;
    height: 200px;
}
.pad-custom {
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
    width: 50%;
}

.flex-container {
    
    display: flex;
    flex-direction: row;
    border-right: 1px solid black;
}

.second-div {
    margin-top: 350px;
}

